<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>SC Site Creator</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="bower_components/angular-color-picker/angularjs-color-picker.min.css" />
	<!-- <link rel="stylesheet" href="css/creative.css" type="text/css"> -->

  <link rel="stylesheet" href="../../css/bundle.css">
  <link rel="stylesheet" href="../../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">

	<script src="js/jquery.js"></script>
	<script src="js/FileSaver.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/tinycolor/dist/tinycolor-min.js"></script>
	<script src="bower_components/angular-color-picker/angularjs-color-picker.min.js"></script>
	<script src="bower_components/jszip/dist/jszip.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>

  <script>
    angular.module('myApp', ['color.picker','ngAutocomplete', 'firebase'], function($compileProvider) {
      $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|geo|tel):/);
    });

    angular.module('myApp').constant('FIREBASE_URL', 'https://scdev.firebaseio.com/');

    angular.module('myApp').factory('AuthenticationFactory', ['FIREBASE_URL', '$firebaseAuth', function(FIREBASE_URL, $firebaseAuth){
      var ref = new Firebase(FIREBASE_URL);
      var auth = $firebaseAuth(ref);

      var myObject = {
        getAuth: function() {
          return auth.$getAuth();
        } //getAuth
      }; //myObject

      return myObject;
    }]);

    angular.module('myApp').factory('ProjectFactory', ['AuthenticationFactory', 'FIREBASE_URL', '$firebaseObject', function(AuthenticationFactory, FIREBASE_URL, $firebaseObject){
      var myObject = {
        getProject: function(projectId) {
          var projectRef = new Firebase(FIREBASE_URL+'users/'+AuthenticationFactory.getAuth().uid+'/projects/'+projectId);
          var projectObj = $firebaseObject(projectRef);
          return projectObj.$loaded();
        }, //getProject
        saveProject: function(projectId, project) {
          var projectRef = new Firebase(FIREBASE_URL+'users/'+AuthenticationFactory.getAuth().uid+'/projects/'+projectId);
          var projectObj = $firebaseObject(projectRef);

          // define all the project attributes we want to save to the database
          projectObj.Address = project.Address;
          projectObj.CompanyName = project.CompanyName;
          projectObj.Email = project.Email;
          projectObj.Number = project.Number;
          projectObj.PrimaryColour = project.PrimaryColour;
          projectObj.SecondaryColour = project.SecondaryColour;
          projectObj.SubText = project.SubText;
          projectObj.TypographyColour = project.TypographyColour;
          projectObj.WwwAddress = project.WwwAddress;
          projectObj.date_created = project.date_created;
          projectObj.imageSrc = project.imageSrc;
          projectObj.name = project.name;
          projectObj.date_updated = Firebase.ServerValue.TIMESTAMP;

          // save the project object to the db
          return projectObj.$save();
        } //saveProject
      }; //myObject

      return myObject;
    }]);

    angular.module('myApp').directive("ngFileSelect",function(){
      return {
        link: function($scope,el){          
          el.bind("change", function(e){          
            $scope.file = (e.srcElement || e.target).files[0];
            $scope.getFile();
          })
        }
      };
    });

    angular.module('myApp').controller('myCtrl', ['$rootScope', '$scope', 'fileReader', '$window', 'AuthenticationFactory', 'ProjectFactory', '$location', function($rootScope, $scope, fileReader, $window, AuthenticationFactory, ProjectFactory, $location){
      var authData = AuthenticationFactory.getAuth;

      if (authData == null) {
        $window.location.href = '/myaccount/#/login';
      }

      // console.log($location.search().id);
      ProjectFactory.getProject($location.search().id)
      .then(function(response) {
        $scope.project = response;
        if ($scope.project.date_updated) {
          $scope.updateCompanyName();
          $scope.updateSubText();
          $scope.updateEmail();
          $scope.updateNumber();
          $scope.updateWwwAddress();
          document.getElementById('iframe').contentWindow.updatePrimaryColour($scope.project.PrimaryColour);
          document.getElementById('iframe').contentWindow.updateSecondaryColour($scope.project.SecondaryColour);
          document.getElementById('iframe').contentWindow.updateTypographyColour($scope.project.TypographyColour);
          document.getElementById('iframe').contentWindow.updateAddress($scope.project.Address);
          document.getElementById('iframe').contentWindow.updateLogo($scope.project.imageSrc);
        }
      })
      .catch(function(error) {
        console.log("An error has occured when obtaining the users' project.");
        $scope.error = error.message;
      });

      $scope.Address = '';
      $scope.Addressoptions = null;
      $scope.Addressdetails = '';
      $scope.DownloadIframeTemplate = function(){
        //Need a way to deduct credits for downloadable files 
        var iframehtml = $('#iframe').contents().find("html").html();
        // console.log(iframehtml)
        var zip = new JSZip();
        zip.file("index.html", iframehtml);
        var content = zip.generate({type:"blob"});
        // see FileSaver.js
        saveAs(content, "example.zip");
      };

      $scope.getSaveDetails = function (project) {
        ProjectFactory.saveProject($location.search().id, project)
        .then(function(response) {
          $scope.success = "Project saved successfully";
        })
        .catch(function(error) {
          console.log("An error has occured when attempting to save your project.");
          $scope.error = error.message;
        });
      };

      $scope.getFile = function () {
        $scope.progress = 0;
        $scope.progresswidth = 0;
        fileReader.readAsDataUrl($scope.file, $scope).then(function(result) {
          $scope.project.imageSrc = result;
          // console.log(result)
          document.getElementById('iframe').contentWindow.updateLogo($scope.project.imageSrc);
        });
      };

      $scope.$on("fileProgress", function(e, progress) {
        $scope.progress = progress.loaded / progress.total;
        $scope.progresswidth =   "width:" + $scope.progress*100 + "%";
      });

      $scope.updateCompanyName = function() {
        document.getElementById('iframe').contentWindow.updateCompanyName($scope.project.CompanyName);
      };

      $scope.updateSubText = function() {
        document.getElementById('iframe').contentWindow.updateSubText($scope.project.SubText);
      };

      $scope.updateEmail = function() {
        document.getElementById('iframe').contentWindow.updateEmail($scope.project.Email);
      };

      $scope.updateNumber = function() {
        document.getElementById('iframe').contentWindow.updateNumber($scope.project.Number);
      };

      $scope.updateWwwAddress = function() {
        document.getElementById('iframe').contentWindow.updateWwwAddress($scope.project.WwwAddress);
      };

      $(document).ready(function() {
        $scope.$watch('PrimaryColour', function(newValue, oldValue) {
          if(newValue != oldValue){
            document.getElementById('iframe').contentWindow.updatePrimaryColour($scope.project.PrimaryColour);
          }
        });

        $scope.$watch('SecondaryColour', function(newValue, oldValue) {
          if(newValue != oldValue){
            document.getElementById('iframe').contentWindow.updateSecondaryColour($scope.project.SecondaryColour);
          }
        });

        $scope.$watch('TypographyColour', function(newValue, oldValue) {
          if(newValue != oldValue){
            document.getElementById('iframe').contentWindow.updateTypographyColour($scope.project.TypographyColour);
          }
        });

        $scope.$watch('Address', function(newValue, oldValue) {
          if(newValue != oldValue){
            document.getElementById('iframe').contentWindow.updateAddress($scope.project.Address);
          }
        });

        $scope.$watch('Addressdetails', function(newValue, oldValue) {
          if(newValue !== oldValue){
          // http://maps.google.com/maps?q=24.197611,120.780512
          // console.log(newValue.geometry.location.lat())
          var locationuri = "http://maps.google.com/maps?q="+newValue.geometry.location.lat()+","+newValue.geometry.location.lng()
          // console.log(locationuri)
          document.getElementById('iframe').contentWindow.updateMapsLocation(locationuri);
          }
        });
      }); //(document).ready(function()
    }]); //controller('myCtrl')
    </script>

    <script src="js/upload.js"></script>
    <script src="js/ngAutocomplete.js"></script>
</head>
<body ng-controller="myCtrl">
  <!-- Navigation Bar-->
  <header id="topnav">
    <div class="container">
      <!-- Logo container-->
      <div class="logo">
        <a href="/index.html">
          <img src="../../img/logo-light.png" alt="" class="logo-light">
          <img src="../../img/logo-dark.png" alt="" class="logo-dark">
        </a>
      </div>
    </div>
  </header>
  <!-- End Navigation Bar-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Your site is called "{{project.name}}"</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 ng-hide="project.date_updated">Let's build!</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 ng-hide="project.date_updated">Simply choose a template, customise it with your company logo, creative colours and images. Then fill in your business's details. When you're ready, click preview to see what your mobile website will look like on different mobile phones.</h3>
            <form role="form">
              <div class="form-group">
                <label for="CompanyName">
                  Company Name
                </label>
                <input type="text" placeholder = "Your company name" ng-change="updateCompanyName()"  class="form-control" id="CompanyName" ng-model="project.CompanyName"/>
              </div>
              <div class="form-group">
                <label for="SubText">
                  Sub Text
                </label>
                <input type="text" placeholder = "A brief description of your company" ng-change="updateSubText()"  class="form-control" id="SubText" ng-model="project.SubText"/>
              </div>
              <div class="form-group">
                <label for="Email">
                  Email address
                </label>
                <input type="email" placeholder = "mycompany@example.com" ng-change="updateEmail()" class="form-control" id="Email" ng-model="project.Email"/>
              </div>
              <div class="form-group">
                <label for="Number">
                  Phone Number
                </label>
                <input type="tel" placeholder = "+27118885555" ng-change="updateNumber()" class="form-control" id="Number" ng-model="project.Number" />
              </div>
              <div class="form-group">
                <label for="address">
                  Address
                </label>
                <input type="text" class="form-control" id="Address" ng-autocomplete="project.Address" details="Addressdetails" options="Addressoptions" />
              </div>
              <div class="form-group">
                <label for="WwwAddress">
                  Website Address
                </label>
                <input type="text" placeholder = "http://www.example.com" ng-change="updateWwwAddress()" class="form-control" id="WwwAddress" ng-model="project.WwwAddress"/>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-4">
                  <label for="PrimaryColour">
                    Primary Colour
                  </label>
                  <color-picker ng-model="project.PrimaryColour" color-picker-format="'hex'" ></color-picker>
                </div>
                <div class="form-group col-md-4">
                  <label for="SecondaryColour">
                    Secondary Colour
                  </label>
                  <color-picker ng-model="project.SecondaryColour" color-picker-format="'hex'" ></color-picker>
                </div>
                <div class="form-group col-md-4">
                  <label for="TypographyColour">
                    Typography Colour
                  </label>
                  <color-picker ng-model="project.TypographyColour" color-picker-format="'hex'" ></color-picker>
                </div>
              </div>
              <div class="form-group">
                <label for="ImageLogo">
                  Company Logo
                </label>
                <input type="file" id="ImageLogo" ng-file-select="onFileSelect($files)" >
                <!--  <input type="file" id="ImageLogo" ng-change="updateCompanyLogo()" ng-model="ImageLogo"/> -->
                <p class="help-block">
                  Upload your companies logo
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{progress}}"
                    aria-valuemin="0" aria-valuemax="1" style="{{progresswidth}}">
                      {{progress}} Complete (success)
                    </div>
                  </div>
                </p>
              </div>
              <button type="button" class="btn btn-block btn-color m-0 mb-15" ng-click="getSaveDetails(project)">
                Save
              </button> 
              <button type="button" ng-click="DownloadIframeTemplate()"  class="btn btn-block btn-color m-0 mb-15">
                Download HTML files 
              </button>
              <button type="button" class="btn btn-block btn-color m-0 mb-15">
                Email HTML files 
              </button>
              <a href="/myaccount/#/home" class="btn btn-block btn-color m-0">Back To My Account</a>
            </form>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div id="phone" class="portrait col-md-12" style="margin-top: 80px;">
                <div id="frame">
                   <iframe width="100%" height="100%" frameborder="0" id="iframe" src="template1.html"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../js/main.js"></script>
  <!-- Footer-->
  <footer id="footer-widgets" class="footer dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="../../img/logo-light.png">
        </div>
        <div class="col-md-5 ov-h">
          <div class="row">
            <div class="col-sm-4">
              <div class="widget">
                <h6 class="upper">LEARN MORE</h6>
                <ul class="list-unstyled">
                  <li><a href="#about">About</a></li>
                  <li><a href="#pricing">Pricing & Plans</a></li>
                  <li><a href="#signup">Sign up</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="widget">
                <h6 class="upper">&nbsp;</h6>
                <ul class="list-unstyled">
                  <li><a href="#faq">FAQs</a></li>
                  <li><a href="#">Hosting</a></li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="widget">
                <h6 class="upper">&nbsp;</h6>
                <ul class="list-unstyled">
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Terms of service</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="widget">
                <h6 class="upper">NEWSLETTER SIGN UP</h6>
                <p>Enter your email address below to receive our newsletter</p>
                <div class="footer-newsletter">
                  <form data-mailchimp="true" class="inline-form">
                    <div class="input-group">
                      <input type="email" name="email" placeholder="Email address" class="form-control"><span class="input-group-btn"><button type="submit" data-loading-text="Loading..." class="btn btn-color">SIGN UP</button></span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </footer>
</body>
</html>
