#phone.portrait {
    background: url('images/phone.png');
    width: 626px;
    height: 626px;
}

#phone.portrait #frame {
    width: 306px;
    height: 481px;
    left: 160px;
    top: 67px;
}

#phone #frame {
    border: none;
    background: firebrick;
    position: absolute;
}

#frame::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;
}